<div class="row">
  <div class="col-md-12">
    <h2>About us</h2><br>
    <p>This wiki was created by Vitaly Amos</p><br><br>
    <p>Staff ID: 51772933</p><br><br>
    <p>Email: vitaly.amos.17 at aberdeen.ac.uk</p><br>
  </div>
</div>