<b>Menu</b><br>
  <a href="/">Home</a><br>
  <a href="/create">Create</a><br>
  <a href="/about">About</a><br>
  <a href="/edit">Edit</a><br>
<br><br>

<h2>About us</h2>

<p>This wiki was created by </p>
<p> <%= $myinfo %> </p>
<p>Staff ID: XXXXXXXX</p>