<b>Menu</b><br>
  <a href="/">Home</a><br>
  <a href="/create">Create</a><br>
  <a href="/about">About</a><br>
  <a href="/edit">Edit</a><br>
<br><br>

<h2>This is your own personal create page!</h2>

<section id="add">
  <p> <%= $myinfo %> </p>
</section>