<div class="row">
  <div class="col-md-2 leftcolumn">
    <p>Words: <%= @words %></p> <br>
    <p>Lines: <%= @lines %></p> <br>
    <p>Characters (excl.spaces): <%= @chars_no_spaces %></p> 
  </div>
  
  <div class="col-md-10 rightcolumn">    
    <h2>Edit article</h2><br>
      <form action="/edit" method="post" id="edit" class="form-group">
      <input type="hidden" name="_method" value="put" class="form-control">
      <textarea rows="18" cols="50" name="message" class="form-control"><%= @info %></textarea><br><br>
      <input type="submit" value="Update" class= "btn btn-primary">
      <button href="/" class="btn btn-danger">Cancel</button>
      </form>
  </div>
</div>