<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Panasonic breadmakers wiki</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  
  <body>
    <div class = "container-fluid">

      <header>
        <h1>Panasonic breadmakers wiki</h1>
        <h5>Bread makers are people as well as machines!</h5>
        <%= erb :nav %>
      </header>
      
      <section>
        <%= yield %>
      </section>
    
      <footer class="footer">
        <div class="container-fluid">
          <p class="text-muted">Copyright 2017. Vitaly Amos. No. 51772933.</p>
        </div>
      </footer>
      
    </div>

      
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  </body>
</html>