<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Login</h2>
      <form action="/login" method="post" class="form-group">
      
      <input type="text" name="username" class="form-control" placeholder="username">
      <br>
      
      <input type="password" name="password" class="form-control" placeholder="password">
      <br>
      <input type="submit" value="Login" class="btn btn-success btn-block">
      </form>
    <p>No account? You can <a href="/createaccount">create</a> a new account.</p>
  </div>
</div>