<nav class="navbar navbar-default">
 <div class="container-fluid">
  
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   </button>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
    <li> <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a><br></li>
    <li><a href="/about"><span class="glyphicon glyphicon-thumbs-up"></span> About</a><br></li>
    <li><a href="/edit"><span class="glyphicon glyphicon-list-alt"></span> Edit</a><br></li>
    <li>
   </ul>
   
   <ul class="nav navbar-nav navbar-right">
    <li><a href="/createaccount"><span class="glyphicon glyphicon-user"></span> Register</a><br></li>
    <li>
     <% if $credentials %>
     <% if $credentials[0] != ' ' %>
     <a href="/user/<%= $credentials[0] %>"><span class="glyphicon glyphicon-user"></span> User Profile | <%= $credentials[0] %></a><br>
    </li>
    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a><br></li>
    <li>
     <% if $credentials[0] == "Admin" %>
     <a href="/admincontrols"><span class="glyphicon glyphicon-cog"></span> Admin Controls</a><br>
    </li>
     <% end %>
     <% else %>
    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a><br></li>
     <% end %>
     <% else %>
    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a><br>
     <% end %>
    </li>
   </ul>
   
  </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>