<div class="row">
  <div class = "col-md-4 col-md-offset-4">
    <% if @user %>
    <h2>User profile: <%= @user.username %></h2><br><br>
    <% end %>
      <form method="post" action= "/user/<%= @user.username %>" class="form-group">
      <input type="hidden" name="_method" value="put">
      
      <%= erb :user_form %>
      
  </div>
</div>