<label for="username">Username:</label> <br>
<input id="username" class="form-control" type="text" name="username" value="<%= @user.username %>"

<br><br>
<label for="password">Password:</label><br>
<input id="password" class="form-control" type="password" name="password" value="<%= @user.password %>"

<% if $credentials %>
<% if $credentials[0] == "Admin" %>
<br><br>

<label for="edit"> Allowed to edit?</label><br><br>
<input id="edit" class="form-control" type="checkbox" name="edit" <%= "checked" if @user.edit %>


<% end %>
<% end %>

<br><br>
<input type="submit" value="Submit" class="btn btn-primary btn-block">
</form>