h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: bold;
  color: #eb9114;
}

h5 {
  font-style: italic;
  margin-bottom: 15px;
  font-family: "Verdana", Arial, sans-serif;
}

body {
  background-color: #f1f3f3;
  font-family: "Verdana", Arial, sans-serif;
  padding: 20px;
  text-align: center;
  color: #262626;
  font-size: 14px;
}

th, td {
  text-align: center;
  background-color: #f5f5f5;
}

img {
   border: solid 1px #ccc;
}

.navbar-nav > li > a {
  margin-top:15px; 
  padding-top:5px !important; 
  padding-bottom:5px !important;
  color: #cc6600 !important;
}

.navbar-nav > li > a:hover {
  margin-top:15px; 
  padding-top:5px !important; 
  padding-bottom:5px !important;
  color:#ff6600 !important;
  font-size: 16px;
}

.navbar {
  min-height:30px !important;
  border-radius: 5px;
  border: solid 1px #ccc;
}

.leftcolumn {
  
  padding: 50px 5px;
  margin-top: 18px;
  text-align: center;
  font-size: 12px;
}

.main {
  
  text-align: center;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ccc;
  min-height: 270px;
}

.edit {
  text-align: center;
  margin: 0 auto 50px auto;
  background-color: #fff;
  padding: 20px 20px 120px 20px;
  border-radius: 5px;
  border: solid 2px #ccc;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 97%;
  text-align: center;
  font-size:12px;
  
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}